footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8A6792;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

footer .footer-content li{
    list-style-type: none;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(wave2.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 1000;
    opacity: .5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 1000;
    opacity: .7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

.navbar-fixed{
    background: rgb(138, 103, 145, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 #8A6792 0%;
    z-index: 9999;
}

.hamburger-active > span:nth-child(1){
    transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2){
    scale: 0;
}

.hamburger-active > span:nth-child(3){
    transform: rotate(-45deg);
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}